{% extends "layout.html" %}
{% block content %}
    
    {% for person in persons %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ person.author }}</a>
            <small class="text-muted">{{ person.date }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ person.firstname }} {{ person.lastname }}</a></h2>
          <p class="article-content">{{ person.content }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock %}